@import "style.css";
.root {
    -fx-base: #222;
    -fx-control-inner-background: #444;
    -fx-accent: #660E3A;
    -fx-background-color: -fx-base;
    -fx-light-text-color: #BE1B6B;
}
#non-transparent {
    -fx-background-color: -fx-base;
}