@import "style.css";
.root {
    -fx-base: #ddd;
    -fx-control-inner-background: #bbb;
    -fx-accent: #8196C7;
    -fx-background-color: -fx-base;
    -fx-light-text-color: #47609F;
}
#non-transparent {
    -fx-background-color: -fx-base;
}