.root {
    -fx-base: #ddd;
    -fx-control-inner-background: #bbb;
    -fx-accent: #8196C7;
    -fx-background-color: -fx-base;
    -fx-focus-color: -fx-accent;
    -fx-default-button: -fx-control-inner-background;

    -fx-light-text-color: #47609F;
    -fx-mid-text-color: -fx-light-text-color;
    -fx-dark-text-color: -fx-light-text-color;
}
.scroll-bar > .thumb {
    -fx-background-color: -fx-light-text-color;
}
.scroll-pane > {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.berry-text {
    -fx-fill: -fx-light-text-color;
    -fx-font-smoothing-type: lcd;
}
Text {
    -fx-fill: -fx-light-text-color;
}
#shoppingList .list-cell {
    -fx-alignment: center;
}
#non-transparent {
    -fx-background-color: -fx-base;
}
#authorLabel {
    -fx-underline: true;
}