@import "style.css";
.root {
    -fx-base: #222;
    -fx-control-inner-background: #444;
    -fx-accent: #BE1B6B;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -fx-base, -fx-accent);
    -fx-light-text-color: #ccc;
}
#non-transparent {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -fx-base, -fx-accent);
}