@font-face {
    -fx-font-family: 'Mali';
    src: url('Mali.ttf') format('truetype');
}
.root {
    -fx-base: #ddd;
    -fx-control-inner-background: #bbb;
    -fx-accent: #47609F;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -fx-base, -fx-accent);
    -fx-focus-color: -fx-accent;
    -fx-default-button: -fx-control-inner-background;

    -fx-font-family: 'Mali';
    -fx-light-text-color: #444;
    -fx-mid-text-color: -fx-light-text-color;
    -fx-dark-text-color: -fx-light-text-color;
}
.scroll-bar > .thumb {
    -fx-background-color: -fx-light-text-color;
}
.scroll-pane > {
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.berry-text {
    -fx-font-family: 'Mali';
    -fx-fill: -fx-light-text-color;
    -fx-font-smoothing-type: lcd;
}
#titleLabel {
    -fx-font-size: 18;
}
Text {
    -fx-font-family: 'Mali';
    -fx-fill: -fx-light-text-color;
}
#shoppingList .list-cell {
    -fx-alignment: center;
}
#non-transparent {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -fx-base, -fx-accent);
}
#small .button {
    -fx-padding: 0;
}
#authorLabel {
    -fx-underline: true;
}