@import "style.css";
.root {
    -fx-base: #ddd;
    -fx-control-inner-background: #bbb;
    -fx-accent: #47609F;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -fx-base, -fx-accent);
    -fx-light-text-color: #444;
}
#non-transparent {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -fx-base, -fx-accent);
}